.container {
  display: grid;
  grid-template-columns: 300px 1fr; /* sidebar fixed, content takes rest */
  height: 100vh; /* full screen height */
}

.item-1 {
  background-color:#de638a;
  padding: 10px;

}
.item-1 img {
  width: 200px;
  height: 200px; /* if you want it exactly square */
  object-fit: contain; /* keeps proportions without stretching */
}


.item-2 {
  display: flex;
  flex-direction: column;
  background-color: #f7b9c4;
}

.subjects {
  margin: 10%;
  flex: 1; /* take full remaining height */
  display: grid;
  grid-template-columns: repeat(2,1fr); /* 3 equal columns */
  grid-template-rows: repeat(3, 1fr);   /* 3 equal rows */
  gap: 15px;
}

.subjects div {
  background: radial-gradient(circle, #43C6AC, #F8FFAE);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid black;
  color: #000;
}
